body  {background-size: cover;}

.contenitore  {
background-color: rgba(0,0,0,0.6);
padding: 100px;
margin-left: 200px;
margin-right: 200px;
margin-top: 20px;
margin-bottom: 60px;
border-radius: 15px;}

.logo  {text-align: center;}

#ruota  {width: 250px;}

h2  {color: rgb(0,255,0);
  font-family: 'Poppins', sans-serif;
  line-height: 0.3;
  letter-spacing: 1.5px;}

.button  {background-color: rgb(0,255,0);
padding: 10px;
text-align: center;
margin-bottom: 20px;}

label  {color: white;
  font-size: 20px;
  line-height: 0.3;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;}

p  {color: white;
  line-height: 0.3;
  font-family: 'Poppins', sans-serif;}

#font  {font-size: 13px;}

#barra  {background-color: #F5B453;
  height: 30px;
  width: 350px;
  border-radius: 5px;}

.etichette  {margin-top:40px;}

#barra2  {background-color: #1EC31E;
  height: 30px;
  width: 500px;
  border-radius: 5px;}

#barra3  {background-color: #BE4141;
  height: 30px;
  width: 160px;
  border-radius: 5px;}
